<html>

<head>
  <title>Flask Intro - register page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
  

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body class="text-center">
    <h1>Enregistrez vous</h1>
    <br>
    <form class="form-signin" action="" method="post">
      <input id="inputUserName" type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
      <input type="text" placeholder="email" name="email" value="{{
            request.form.email }}">
      <input type="text" placeholder="Nom" name="nom" value="{{
              request.form.nom }}">
      <input type="text" placeholder="Prénom" name="prenom" value="{{
                request.form.prenom }}">
      <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
      <input class="btn btn-default" type="submit" value="S'enregister">
    </form>
    <a href="/login">S'authentifier</a>
    {% if error %}
    <p class="error"><strong>Erreur : </strong> {{ error }}
      {% endif %}
</body>

</html>