[Unit]
Description=Client OIDC Flask 
After=network.target

[Service]
User=client-flask
WorkingDirectory=/home/client-flask
ExecStart=/home/client/.venv/bin/python Client_OIDC_Py/app.py
Restart=always
# SELINUX SE FOUT DE TOI 
# sudo setenforce 0

[Install]
WantedBy=multi-user.target